---
import '../app.css';
import '../styles/tarot.min.css';
import '@magic-spells/dropdown-select/css/min';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cory Schulz</title>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Cory Schulz - Full Stack Developer" />
		<meta property="og:description" content="20 years Full Stack Developer | 10 years Shopify Developer | Creator of Magic Spells and Tarot carousel" />
		<meta property="og:image" content="/og-card.jpg" />

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Cory Schulz - Full Stack Developer" />
		<meta name="twitter:description" content="20 years Full Stack Developer | 10 years Shopify Developer | Creator of Magic Spells and Tarot carousel" />
		<meta name="twitter:image" content="/og-card.jpg" />
	</head>
	<body>
		<slot />
	</body>
	<script>
		import '../scripts/main.js';
	</script>
</html>